*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 23.33% 23.33% 23.33% 30%;
  grid-template-rows: 15% 15% 40% 10% 20%;
  grid-template-areas:
  "top-one top-two top-three top-four"
  "top-one top-two top-three right"
  "btm-left btm-middle top-three right"
  "btm-left btm-middle-one right-btm right-btm"
  "btm-left btm-middle-two right-btm right-btm"
  ;
gap: 10px;
overflow: hidden;
}

.top-one{
    background-color: brown;
    border-radius: 20px;
    grid-area: top-one;
    background-image: url(./assets/top1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.top-two{
    background-color: rgb(168, 1, 1);
    grid-area: top-two;
    
}
img{
    height: 270px;
    width: 350px;
   
}
.top-three{
    background-color: #171719;
    grid-area: top-three;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
    font-weight: 100;
    gap: 30px;
    text-transform: uppercase;
    font-size: 20px
}
.categoriesimg{
    height: 50px;
    width: 50px;
    margin-right: -20px;
    margin-left: -10px;
}
.salesimg{
    height: 30px;
    width: 30px;
    filter: brightness(0) invert(1);
}

.categories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
     gap: 15px;
     font-weight: 100;
}
.payment{
     display: flex;
    align-items: center;
    justify-content: space-between;
       font-size: 20px;
        gap: 15px;
}
.author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    gap: 15px;
    border-radius: 20px;
    background-color: #171719;

    box-shadow: 0px 4px 20px rgba(0,0,0,0.4);
}
.auction{
     display: flex;
    align-items: center;
    justify-content: space-evenly;
       font-size: 20px;
       gap: 15px;
}
.circle{

    height: 30px;
    width: 30px;
    background-color: purple;
    border-radius: 50px;
}
.sales{
     display: flex;
    align-items: center;
    justify-content: space-between;
       font-size: 20px;
        gap: 15px;
}
.review{
     display: flex;
    align-items: center;
    justify-content: space-between;
       font-size: 20px;
        gap: 15px;
}
.contact{
     display: flex;
    align-items: center;
    justify-content: space-between;
       font-size: 20px;
        gap: 15px;
        padding-top: 90px;
}
.top-four{
background-color: rgb(45, 2, 2);
grid-area: top-four;
}

.btm-left{
    background-color: rgb(1, 57, 38);
    grid-area: btm-left;
}

.btm-middle{
    background-color: rgb(16, 37, 30);
    grid-area: btm-middle;
}

.btm-middle-one{
    background-color: rgb(76, 47, 5);
    grid-area: btm-middle-one;
}
.btm-middle-two{
    background-color: rgb(26, 5, 47);
    grid-area: btm-middle-two;
}

.right{
    background-color: cadetblue;
    grid-area: right;
    border-radius: 20px;
     background-image: url(./assets/right.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.right-btm{
    background-color: rgb(149, 78, 8);
    grid-area: right-btm;
}